<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054860905928-p90iuhlkhot1rbvq677kd44jpov3vqpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054860905928-p90iuhlkhot1rbvq677kd44jpov3vqpf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1054860905928-mq087foug5efuor7eecrpn1umkd04vkc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_4g0apUkYLfWe4zT-IYz3UXAe9K-A_9k</string>
	<key>GCM_SENDER_ID</key>
	<string>1054860905928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.playway-iOS</string>
	<key>PROJECT_ID</key>
	<string>playway-9b96c</string>
	<key>STORAGE_BUCKET</key>
	<string>playway-9b96c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054860905928:ios:82b3eb65610cfedb7644fd</string>
</dict>
</plist>